<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--  Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<div layout:fragment="content" th:remove="tag">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="img/Carrousel-1.jpg" class="img-fluid img-thumbnail" alt="Featured Product 1">
    </div>

    <div class="item">
      <img src="img/Carrousel-2.jpg" class="img-fluid img-thumbnail" alt="Featured Product 2">
    </div>

    <div class="item">
      <img src="img/Carrousel-3.jpg" class="img-fluid img-thumbnail" alt="Featured Product 3">
    </div>
    
        <div class="item">
      <img src="img/Carrousel-4.jpg" class="img-fluid img-thumbnail" alt="Featured Product 4">
    </div>

      <div class="item">
      <img src="img/Carrousel-5.jpg" class="img-fluid img-thumbnail" alt="Featured Product 5">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
        <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        </div>

        <div align="center">
            <button class="btn btn-default filter-button" data-filter="all">All</button>
            <button class="btn btn-default filter-button" data-filter="computers">Computers</button>
            <button class="btn btn-default filter-button" data-filter="phones">Phones</button>
            <button class="btn btn-default filter-button" data-filter="drones">Drones</button>
            <button class="btn btn-default filter-button" data-filter="furniture">Home Furniture</button>
        </div>
        <br/>



            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter phones">
             <div class="hovereffect">
 				<img src="img/product-phone-1.jpeg" alt="Phone Product #1" class="img-responsive">
        		<div class="overlay">
           		<center><h3>Phone Product #1</h3></center>
            	<center><a class="info" th:href="@{/registration}">View This Product</a></center>
        		</div>
    		</div>
               
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter phones">
               <div class="hovereffect">
 				<img src="img/product-phone-2.jpeg" alt="Phone Product #2" class="img-responsive">
        		<div class="overlay">
           		<center><h3>Phone Product #2</h3></center>
            	<center><a class="info" th:href="@{/registration}">View This Product</a></center>
        		</div>
    		</div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter computers">
              <div class="hovereffect">
 				 <img src="img/product-computer-1.jpeg" alt="Computer Product #1" class="img-responsive">
        		<div class="overlay">
           		<center><h3>Computer Product #1</h3></center>
            	<center><a class="info" th:href="@{/registration}">View This Product</a></center>
        		</div>
    		</div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter computers">
              <div class="hovereffect">
 				 <img src="img/product-computer-2.jpeg" alt="Computer Product #2" class="img-responsive">
        		<div class="overlay">
           		<center><h3>Computer Product #2</h3></center>
            	<center><a class="info" th:href="@{/registration}">View This Product</a></center>
        		</div>
    		</div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter phones">
                <div class="hovereffect">
 				  <img src="img/product-phone-3.jpeg" alt="Phone Product #3" class="img-responsive">
        		<div class="overlay">
           		<center><h3>Phone Product #3</h3></center>
            	<center><a class="info" th:href="@{/registration}">View This Product</a></center>
        		</div>
    		</div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter phones">
                  <div class="hovereffect">
 				<img src="img/product-phone-4.jpeg" alt="Phone Product #4" class="img-responsive">
        		<div class="overlay">
           		<center><h3>Phone Product #4</h3></center>
            	<center><a class="info" th:href="@{/registration}">View This Product</a></center>
        		</div>
    		</div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter drones">
              <div class="hovereffect">
 				<img src="img/product-drone-1.jpeg" alt="Drone Product #1" class="img-responsive">
        		<div class="overlay">
           		<center><h3>Drone Product #1</h3></center>
            	<center><a class="info" th:href="@{/registration}">View This Product</a></center>
        		</div>
    		</div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter drones">
             <div class="hovereffect">
 				<img src="img/product-drone-2.jpeg" alt="Drone Product #2" class="img-responsive">
        		<div class="overlay">
           		<center><h3>Drone Product #2</h3></center>
            	<center><a class="info" th:href="@{/registration}">View This Product</a></center>
        		</div>
    		</div>
            </div>

            <div class="gallery_product col-lg-8 col-md-4 col-sm-4 col-xs-6 filter furniture">
              <div class="hovereffect">
 				<img src="img/product-furniture-1.jpeg" alt="Furniture Product #1" class="img-responsive">
        		<div class="overlay">
           		<center><h3>Furniture Product #1</h3></center>
            	<center><a class="info" th:href="@{/registration}">View This Product</a></center>
        		</div>
    		</div>
            </div>
        </div>
    </div>
</section>
</body>
</html>