<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	
	
<title>Manage Product</title>
<style>

	.wide{
	
		align:center;
		width:50%;
		margin-left:20%;
		margin-right:20%;
		
	}
	
</style>

</head>
<body>

<div class="container py-5">
     
    <nav class="navbar navbar-expand-md  navbar-dark bg-dark " >
        <button class="navbar-toggler " data-bs-toggle="collapse" data-bs-target="#hamburger">
            <span class="navbar-toggler-icon "></span>
        </button>
       
       
        <div class="collapse navbar-collapse pt-1 pb-1" id="hamburger">
      
            <ul class="navbar-nav ms-auto pt-1 pb-1" >
               	<div> <h4 style="color:white;"> Our Product Gallery </h4></div>
               		
	                <li class="nav-item " ><a href="#" class="nav-link"></a></li>
	                <li class="nav-item "><a href="#" class="nav-link"></a></li>
	                <li class="nav-item "><a href="#" class="nav-link "></a></li>
               
            </ul>
        </div>
    </nav>
    </div>

<!-- Product starts here -->
 <div class="wide"> 
		 <table style="width: 100%;">
        <tr th:each="product : ${products}">
        
      <!--  mr-2 mt-2 ml-2 mb-2-->
            <div class="card custom-card text-center mr-2 mt-2 ml-2 mb-2" style="width: 14em; display: inline-flex">
                    
                    <div class="tab-pane fade show active p-3" style="width: 14em";>
                    
                        <h5 class="card text-white bg-danger mb-4" th:text="${'Product Id - ' + product.id}">Id</h5>
                        <img th:src="@{${product.imageImagePath}}" style="width:100px; height:100px;">
                        <div><b>Description:&nbsp;&nbsp;</b><span class="card-text" th:text="${product.name}"></span></div>
                        <div><b>Price:</b>&nbsp;&nbsp;$<span class="card-text" th:text="${product.price}"></span></div>
                        <a th:href="@{/thankyou}"
                            class="stretched-link btn btn-sm btn-danger mr-2"><i
                            class="fas fa-rocket mr-2" ></i> Buy Now!</a>
                    </div> 
        </div>
        </tr>
</table>
 
 </div>
					
					
		
<!-- Pagination starts here -->
<div th:if ="${totalPages>1}">
	<div class="row col-sm-10">

		<div class="col-sm-1">
			<span th:each="i: ${#numbers.sequence(1,totalPages)}">
			<a th:if="${currentPage !=i}" th:href="@{'/page/'+${i}}">[[${i}]]</a>
			<span th:unless="${currentPage !=i}">[[${i}]]</span>&nbsp; &nbsp;
			</span>
		
		</div>
		<div class="col-sm-1">
			<a th:if="${currentPage < totalPages}" th:href="@{'/page/'+ ${currentPage+1}}">Next</a>
			<span th:unless="${currentPage < totalPages}">Next</span>
		
		</div>
		<div class="col-sm-1">
			<a th:if="${currentPage < totalPages}" th:href="@{'/page/'+ ${currentPage+1}}">Last</a>
			<span th:unless="${currentPage < totalPages}">Last</span>
		
		</div>
		
		<p><a href="/" th:href="@{/}">Back to home page</a></p>
		
	</div>

</div>
 
<!-- Pagination ends here the remaining divs enclose product, container and align -->

</body>

</html>